# Secrets
.env
*.env
GOOGLE_SERVICE_ACCOUNT_JSON
.replit
replit.nix

# Python
.pythonlibs/
__pycache__/
*.pyc
*.pyo
*.pyd

# Submodule internals
Ma_Golide_Mothership/.git
Ma_Assayer/.git
Ma_Golide_Satellites/.git

# Misc
secrets/
attached_assets/*.txt
